/* people list */

.people-list svg {
    color: #fff;
    height: 30px;
    width: 30px;
}

.people-list span.smiley {
    display: inline-flex;
    height: 55px;
    width: 55px;
    flex-shrink: 0;
    background: #f667b7;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(246 103 183 / 54%);
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    line-height: 1.6;
}

.people-list h2 {
    font-size: 30px;
    color: #252584;
    line-height: 1.6;
    display: inline-flex;
    align-items: center;
    width: 45%;
    margin-left: 50px;
}
.people-card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
}

.people-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(78% / 4 - 30px);
    margin: 20px 40px 20px 0;
    box-shadow: 0 8px 10px 2px #ddd;
    border-radius: 10px;
    position: relative;
}
.people-card-flex>div:nth-child(5n) {
    margin-right: 0;
}
.people-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.people-card label {
    color: #5b5b5b;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.people-card label + label {
    font-size: 15px;
    color: #979797;
    font-weight: lighter;
}

/* chkbox */

span.edit-checkbox {
    height: 30px;
    position: absolute;
    width: 30px;
    background: #dceffe;
    border-radius: 50%;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.edit-checkbox svg {
    height: 18px;
    width: 18px;
}

span.edit-checkbox input[type="checkbox"] {
    height: 30px;
    /* opacity: 0; */
    width: 30px;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    cursor: pointer;
}
span.edit-checkbox input:checked {
    /* border: 2px solid rgb(43, 97, 180); */
    box-shadow: 0 3px 10px rgb(43, 97, 180, .5);
}
/* ----------------------- */

.people-list-add-edit button {
    color: #835bbc;
    font-family: 'Balsamiq Sans';
    font-size: 16px;
    padding: 10px 30px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 6px;
    background: #eedefe;
    cursor: pointer;
}
.people-list-add-edit button:focus, .people-list-add-edit button:hover{
    /* border: 2px solid rgb(131, 91, 188); */
    box-shadow: 0 3px 10px rgb(131, 91, 188, .5);
}
.people-list-add-edit {
    display: inline-flex;
    justify-content: flex-end;
    width: 50%;
}
.people-list-add-edit button:focus:first-child, .people-list-add-edit button:first-child:hover{
    /* border: 2px solid rgb(255, 197, 57); */
    box-shadow: 0 3px 10px rgb(255, 197, 57, .5);
}
.people-list-add-edit button:first-child {
    background: #fef9de;
    color: #ffc539;
}

.form.w-100{
    width: 100%;
}

.form-button {
    display: flex;
    justify-content: space-between;
}

.form-button button{
    min-width: 160px;
}