/* content 1 */

.content_1_main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 80px;
}

.content_1_img img {
    height: 500px;
    width: 100%;
    object-fit: contain;
}

.content_1_img {
    width: 60%;
}

.content_1 {
    width: 35%;
    margin: 40px 50px 0 0;
}

.content_1 h2 {
    font-size: 30px;
    color: #252584;
    line-height: 1.6;
}

.content_1 p {
    font-size: 18px;
    color: #a0a0be;
    line-height: 2;
}

/* content 2 */

.content_2_main {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.content_2_img img {
    height: 500px;
    width: 100%;
    object-fit: contain;
}

.content_2_img {
    width: 60%;
}

.content_2 {
    width: 35%;
    margin: 40px 0 0 50px;
}

.content_2 h2 {
    font-size: 30px;
    color: #252584;
    line-height: 1.6;
}

.content_2 p {
    font-size: 18px;
    color: #a0a0be;
    line-height: 2;
}