*{
    box-sizing: border-box;
}
button{
    cursor: pointer;
    outline: none;
}
.banner-img{
    background: #252584;
    height: 400px;
    width: 100%;
    padding: 30px 0;
    background-image: url(../../assets/banner/banner-rounded-001.svg);
}

.banner-img div{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    text-align: right;
}
.banner-img img.banner-right {
    height: 435px;
    width: 500px;
    object-fit: scale-down;
    margin-top: 0px;
}

.container-max{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 10px 10px;
}

.container-full{
    width: 100%;
    background-color: #fff;
}

/* work with */

.have-work-with h2 {
    font-size: 30px;
    color: #252584;
    line-height: 1.6;
    text-align: center;
}

.have-work-with>div {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.have-work-with>div img {
    height: 100px;
    width: 100px;
    object-fit: scale-down;
    margin: 0 25px;
}

.people-about-services svg {
    color: #fff;
    height: 30px;
    width: 30px;
}

.people-about-services span.heart {
    display: inline-flex;
    height: 55px;
    width: 55px;
    flex-shrink: 0;
    background: #fa423b;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(250 66 59 / 54%);
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    line-height: 1.6;
}

.people-about-services h2 {
    font-size: 30px;
    color: #252584;
    line-height: 1.6;
    display: flex;
    align-items: center;
    width: 45%;
    margin-left: 50px;
}

span.card-user-img {display: inline-flex;margin-right: 50px;}

span.card-user-img img {
    height: 70px;
    width: 70px;
    object-fit: scale-down;
    border-radius: 50%;
}

.card-carousel {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 50px 0;
    /* overflow-x: auto; */
}

/* home css mobile */

@media only screen and (max-width: 767px){
    .banner-img img.banner-right {
        width: 80%;
        margin-right: 20px;
        margin-top: unset;
    }
    .form-button button{
        min-width: auto;
        padding: 11px 30px;
    }
    .content_1_main {
        flex-direction: column;
    }
    
    .content_1_img {
        width: 100%;
    }
    
    .content_1_img img {
        height: auto;
    }
    
    .content_1 {
        width: 100%;
        margin: 0;
    }
    
    .content_2_main {
        flex-direction: column;
    }
    
    .content_2_img {
        width: 100%;
    }
    
    .content_2_img img {
        height: auto;
    }
    
    .content_2 {
        width: 100%;
        margin: 0;
    }
    
    .people-about-services h2 {
        margin: 0;
        width: 100%;
        font-size: 25px;
    }
    
    .people-about-services span.heart {
        margin-right: 25px;
    }
    
    .card {
        max-width: 80%;
        margin: 10px;
    }
    
    .card-carousel {
        overflow: auto;
    }
    
    .people-list h2 {
        font-size: 25px;
        margin: 0;
        width: 100%;
    }
    
    .people-list-add-edit {
        width: 100%;
        margin-top: 20px;
    }
    
    .people-list span.smiley {
        margin-right: 25px;
    }
    
    .people-card {
        margin: 10px 0;

        width: 48%;
    }
    
    .people-card-flex {
        justify-content: space-between;
    }
    
    .have-work-with>div {
        flex-wrap: wrap;
    }
    
    .form-map {
        width: 100%;
        flex-wrap: wrap;
    }
    
    .form {
        width: 100%;
        padding: 30px;
    }
    
    .map {
        width: 100%;
        height: 400px;
    }
    
    .footer-wrapper footer {
        flex-direction: column;
    }
    
    .footer-wrapper footer>span:first-child {
        width: 100%;
        margin: 0;
    }
        
    .footer-wrapper footer>span {
        margin: 0;
        width: 100%;
    }
    
    .footer-wrapper footer>span div {
        margin: 25px 0;
    }

    .header-links{
        display: none;
    }

    .header-wrapper header{
        padding: 7px 15px;
    }
    .header-wrapper header img{
        height: 60px;
        width: 60px;
    }
    .header-wrapper{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 9;
    }
    .main-content{
        margin-top: 70px;
    }
    .container-max{
        padding: 10px 15px;
    }
}