/* header css */

.header-wrapper {
    width: 100%;
    background: #252584;
}

.header-wrapper header {
    display: flex;
    color: #fff;
    padding: 20px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    font-size: 18px;
    justify-content: space-between;
}

.header-wrapper header img {
    height: 100px;
    width: 100px;
    object-fit: scale-down;
}

.header-links {
    display: flex;
    flex: 1 1;
    justify-content: center;
}
.header-links a{
    color: #fff;
    text-decoration: none;
    outline: none;
}
.header-links>div {
    margin: 0 30px;
}

.header-links>div.active a,.header-links>div a:hover,.header-links>div a:focus {
    color: #00d7ff;
}
