/* footer css */
.footer-wrapper {
    line-height: 1.6;
    background: #252584;
    padding: 40px 20px;
    color: #fff;
    font-size: 18px;
}

.footer-wrapper footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.footer-wrapper p {
    margin: 0;
    color: #ccc;
}

.footer-wrapper img {
    height: 100px;
    width: 100px;
    object-fit: scale-down;
    margin-right: 50px;
}

.footer-wrapper footer>span {
    width: 25%;
    margin-right: 60px;
}

.footer-wrapper footer>span:first-child {
    align-items: center;
    display: flex;
    font-size: 30px;
    width: 40%;
}

.footer-wrapper footer>span div {
    margin-bottom: 20px;
}

.footer-wrapper footer>span div:last-child {
    margin-bottom: 0;
}

.footer-wrapper footer>span:last-child {
    margin-right: 0;
}