html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden!important;
}

/* Morph shape necessary with bubble or elastic */
/* .bm-morph-shape {
  fill: #373a47;
} */

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  
}

.bm-overlay{
  top: 0 !important;
  background: #252584 !important;

}

.bm-menu-wrap.black {
  width: 100% !important;
  top: 0 !important;
}

.bm-menu {
  width: 100%;
  right: 0 ;
  background: #252584 !important;
  position: fixed;
  top: 0px;
  bottom: 0;
  padding: 2.5em 0em 0 0 !important;
  border-radius: 10px 0;
}

.bm-burger-button button{
  z-index: 99;
}
.bm-cross-button {
  right: 20px !important;
  top: 20px !important;
}
 
.bm-cross-button{
  right: 0;
}

.bm-cross {
  background: #fff !important;
  height: 25px !important;
  top:-10px;
  border-radius: 10px;
}
ul.bm-item {
  
    margin: 0;
    padding: 0;
    outline: none;
    border-bottom: none;
    padding-top: 10px;
}
ul.bm-item li{
  margin: 30px 20px;
  list-style: none;
}
li.left {
  padding: 0 45px 30px 45px;
}

li.bottom {
  padding: 30px 45px 30px 45px;
  border-top: 1px solid #e7e7e7;
}

span.menu-image-left img {
  width: 30px;
  height: 30px;
}

.bm-menu span.menu-nav-title {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-left: 15px;
}

span.menu-image-right {
  width: 30px;
  height: 30px;
  display: block;
    float: right;
    position: relative;
    left: -80px;
    transform: rotate(0deg);
    top: 0px;
}
.bm-item.menu-logo {
  width: max-content;
  margin-left: 30px;
  margin-top: -30px;
}

.bm-item.menu-logo img {
  height: 70px;
  width: 70px;
  object-fit: scale-down;
}