/* *Card Css */
.card {
    max-width: 36%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(221, 221, 221, 0.5);
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 50px;
}
.card-header {
    display: flex;
    color: #5b5b5b;
    font-size: 20px;
    margin-bottom: 30px;
}

span.card-header-text {
    display: flex;
    flex-direction: column;
}

span.card-header-text label:nth-child(2) {
    color: #979797;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 7px;
}

.card-content {
    font-size: 20px;
    color: #5b5b5b;
    letter-spacing: .5px;
    line-height: 1.6;
}