/* contact us */

.contact-us h2{
    font-size: 30px;
    color: #252584;
    text-align: center;
}


.form-map {
    margin: 50px auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.form {
    width: 50%;
    padding: 50px 40px;
    box-shadow: 0 20px 30px 15px rgba(238, 238, 238, 0.8);
    border-radius: 15px;
    font-size: 18px;
}

.map {
    width: 50%;
    margin: 50px 0;
    background: #ddd;
    /* height: 100%; */
}

textarea, .form input {
    padding: 15px;
    border-radius: 5px;
    width: -webkit-fill-available;
    border: 1px solid #e5e5e5;
    color: #5b5b5b;
    font-size: 16px;
    outline: none;
}
textarea::placeholder, .form input::placeholder
{
    color: #c4c4c4;
}
.form label {
    font-size: 18px;
    color: #252584;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    margin-bottom: 25px;
}

.form button {
    border: 0;
    font-family: 'Balsamiq Sans';
    font-size: 18px;
    padding: 11px 50px;
    border-radius: 5px;
    float: right;
    background: #252584;
    color: #fff;
}

.form button.cancel{
    background: #f9464d;
}
.formErrors p {
    margin-top: -20px;
    color: #fa423b;
    font-size: 13px;
}

.form button:disabled {
    opacity: .4;
    background: #252584;
    color: #fff;
    cursor: not-allowed;
}
/* 
.contact-us input:disabled {
    background: #dddddd !important;
  } */
