.modal_container{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    }
      
    .modal_overflow{
      overflow: auto;
      height: 100vh;
      display: flex;
      align-items: center;
      z-index: 1;
      width: 100%;
      padding:  40px 0;
      }
    .modal_background{
      position: fixed;
      background: rgb(0, 0, 0, .8);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      /* z-index: 1; */
    }
    
    .modal_content{
      position: relative;
      width: 95%;
      box-sizing: border-box;
    background: #fff;
    margin: auto;
    z-index: 2;
    max-width: 500px;
    padding: 40px;
    height: max-content;
    }
    .modal_content.mobile_modal{
      padding: 20px 15px;
    }
    .modal_close svg{
      height: 25px;
      width: 25px;
      color: #323232;
      position: absolute;
      z-index: 3;
      top: 20px;
      right: 20px;
    }
    
    .modal_close{
      float: right;
      cursor: pointer;
    }


    /* mob */

    @media only screen and (max-width: 767px){
      .modal_content{
        padding: 40px 20px;
      }
    }